@import '../../scss/_variables.scss';

/* footer css*/

footer {
    padding: 35px 0 35px 0;
    background-color: $bgcolor-black;
    text-align: center;
    p, a ,span {
        color: $tcolor-white;
        font-size: 11px;
    }
    .social-media {
        margin-bottom: 7px;
        .socail-btn {
            color: $tcolor-white;
            margin: 0 8px;
            font-size: 22px;
            transition: all 0.3s ease-in-out 0.1s;
            &:hover, &:active, &:focus {
                color: $bgcolor-orange;
                transition: all .3s ease-in-out .1s;
            }
        }
    }
    .conditions-policies {
        a {
            &:hover {
                text-decoration: underline !important;
            }
        }
    }
}
  



