<!-- footer -->
<footer>
    <div class="footer">
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-12">
                <div class="social-media">
                    <div class="d-inline">
                        <a class="socail-btn" href="#">
                            <i class="fa fa-facebook-f"></i>
                        </a>
                    </div>
                    <div class="d-inline">
                        <a class="socail-btn" href="#">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </div>
                    <div class="d-inline">
                        <a class="socail-btn" href="#">
                            <i class="fa fa-youtube-play"></i>
                        </a>
                    </div>
                </div>
                <div>
                    <p class="m-0">Copyright 2021 Fred Hollows AU | All Rights Reserved</p>
                </div>
                <div class="conditions-policies">
                    <a href="#" class="d-inline">Terms & Conditions</a> <span class="mx-2 text-white">|</span>
                    <a href="#" class="d-inline">Privacy Policy</a>
                </div>
            </div>
          </div>
        </div> 
    </div>
</footer>
<!-- // footer -->