@import '../../scss/_variables.scss';

// Navbar css
.navbar {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 4px;
    .navbar-brand img {
        width: 248px;
        height: auto;
    }

    .navbar-toggler {
        outline: unset;
        .navbar-toggler-icon {
            background-image: url(/assets/menu.svg);
        }
    }

    .navbar-nav .nav-item {
        .nav-link {
            color: $tcolor-white;
            font-weight: 600;
            margin: 0 1.5rem;
            transition: all ease-in .2s;
            text-transform: uppercase;           
        }
        &:last-child {
            .nav-link {
               margin-right: 0px;
            }
        }
    }

    .navbar-nav .nav-item .nav-link:hover, nav .navbar-nav .nav-item .nav-link:active, nav .navbar-nav .nav-item .nav-link:focus {
        color: $bgcolor-orange;
        transition: all ease-in .2s;
    }
}
  


/* Small devices (mobile phones, 320px and up) */
@media (max-width: 991px) { 
    .navbar {
        .navbar-brand img {
            width: 230px;
            height: auto;
        }

        .navbar-nav {
            margin-top: 35px;
        }

        .navbar-nav .nav-item .nav-link,nav .navbar-nav .nav-item .nav-link:hover,nav .navbar-nav .nav-item .nav-link:active,nav .navbar-nav .nav-item .nav-link:focus {
            margin: 0;
        }

        .navbar-nav .nav-item .contact-btn, nav .navbar-nav .nav-item .contact-btn:hover, nav .navbar-nav .nav-item .contact-btn:active, nav .navbar-nav .nav-item .contact-btn:focus {
            margin-left: 0 !important;
            margin-top: 10px;
        }
    }
}