/* text color variables*/
$tcolor-gray : #282828;
$tcolor-white : #ffffff;
$tcolor-lightblue : #A1C5BC;

/* background color variables*/
$bgcolor-gray : #282828;
$bgcolor-white : #ffffff;
$bgcolor-black : #000000;
$bgcolor-orange : #EE7202;
$bgcolor-lightblue : #A1C5BC;