<!-- Notification-alert-section -->
<section class="notification-alert-section">
    <div class="container">
      <div class="row">
          <div class="col-12">
            <div class="notification-alert-section__desc">
              <p class="m-0">Can you get to the of our leaderboard?Beat our quiz win a $100 shopping spree!</p>
            </div>
          </div>
      </div>
    </div>
</section>
<!-- Notification-alert-section -->


<!--  hero -->
<section class="hero-banner">
  <div class="banner-wrap" style="background-image:url(assets/hero.png)">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-12  col-xl-8">
            <div class="inner-details aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000">
              <div class="main-topic">
                <h1 class="text hero-main-topic t-color-white">How much do you really know <br>about avoidable blindness <br>around the world?</h1>
              </div>
              <button href="#" class="btn btn-primary btn-lg">Take the quiz</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- // hero -->


<!-- Quiz chanllenge -->
<section class="quiz-chanllenge bg-color-gray-new">
  <div class="container-fluid">
    <div class="row">   
        <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 pl-0 quiz-chanllenge-banner" style="background-image:url(assets/second-section.png)">
            <div class="quiz-chanllenge__left">
              <div class="quiz-chanllenge__left__form aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000">
                  <div class="quiz-chanllenge__left__form--topic">
                      <p class="m-0 top text-uppercase t-color-white">Take our</p>
                      <p class="m-0 middile text-uppercase">In mind's eye</p>
                      <p class="m-0 bottom text-uppercase t-color-white">Quiz now!</p>
                  </div>
                  <div class="quiz-chanllenge__left__form--whole">
                      <form>
                          <div class="form-group">
                            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="First Name">
                          </div>
                          <div class="form-group">
                            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Last Name">
                          </div>
                          <div class="form-group">
                              <input type="mail" class="form-control" id="formGroupExampleInput3" placeholder="Email">
                          </div>
                          <div class="form-group country t-color-white">
                            <label for="formGroupExampleInput" class="m-0 pr-3">Country</label>
                            <div class="form-check form-check-inline t-color-white">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                <label class="form-check-label" for="inlineRadio1">Australia</label>
                            </div>
                            <div class="form-check form-check-inline t-color-white">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                <label class="form-check-label" for="inlineRadio2">International</label>
                            </div>
                          </div>
                          <div class="form-group">
                              <input type="number" class="form-control" id="formGroupExampleInput4" placeholder="Phone">
                          </div>
                          <div class="form-group inline-form">
                              <input type="text" class="form-control" id="formGroupExampleInput5" placeholder="State">
                              <input type="text" class="form-control" id="formGroupExampleInput6" placeholder="Postcode">
                          </div>
                          <button href="#" class="btn btn-primary btn-md quiz-btn">Start</button>
                        </form>
                        <p class="t-color-white mt-3 last-details">By taking our quiz, you may receive communications about how you can help with our campaigns, on the understanding 
                            you agree to our Privacy Policy | Terms and Conditions.</p>
                  </div>
              </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7 aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000">
          <div class="quiz-chanllenge__right">
            <div class="topic">
              <h4 class="t-color-white text-uppercase">4 OUT OF 5 PEOPLE WHO ARE BLIND <br>DON’T NEED TO BE. WILL YOU HELP?</h4>
            </div>
            <p class="t-color-white description">
                Imagine being blind simply because of your circumstance. For many of us, this is an unthinkable reality- yet, millions of people around the
                world are suffering from this exact fate. But it’s not all gloom and doom. The Fred Hollows Foundation has been working with communities
                all around the world since 1992 to restore sight and put an end to avoidable blindness. We’ve got the strategy, the know-how,
                the tools, and the community partners to make this happen. But this is a global challenge, and we need a diverse, world-wide coalition 
                of change-makers to join us. That’s where you come into the picture! <br> <br> 

                Today, we’re challenging YOU and your friends to beat our 
                quiz and get to the top of our leaderboard. We want to see how much you really know about avoidable blindness around the world. <br> <br> 

                Take our quiz and earn points for every correct answer. Rise to the top of our leaderboard and the TOP 5 WINNERS will earn themselves 
                a $100 shopping voucher! <br> <br> 
                
                What are you waiting for?
            </p>
            <div class="text-center"><button href="#" class="btn btn-primary btn-md">join the challenge</button></div>
          </div>
        </div>
    </div>
  </div>
</section>
<!-- // Quiz chanllenge -->


<!-- Services -->
<section class="services bg-color-gray">
    <div class="topic aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000">
        <h4 class="pt-5 t-color-white text-center text-uppercase">YOUR DONATION IS GOING TO CHANGE <br> SOMEONE’S LIFE LIKE NEVER BEFORE.</h4>
    </div>  
  <div class="container-fluid">
    <div class="row"> 
        <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7 aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000">
            <div class="services__left">
              <div class="services__left--list">
                  <div class="icon">
                       <img src="assets/donate.png" alt="icon">
                  </div>
                  <div class="description">
                      <h5 class="t-color-white mb-3">Become a regular giver:</h5>
                      <p class="t-color-white m-0">
                          Making a regular donation helps increase the impact we can make in communities 
                          around the world. In some communities we work in, just $25 can restore sight for 
                          someone who might have lost their ability to see. Imagine the impact you can make with a monthly gift.
                      </p>
                  </div>
              </div>
              <div class="services__left--list">
                  <div class="icon">
                       <img src="assets/gift.png" alt="icon">
                  </div>
                  <div class="description">
                      <h5 class="t-color-white mb-3">Give a one-time gift:</h5>
                      <p class="t-color-white m-0">
                          Every small donation helps change lives. Just $25 can restore sight for someone who 
                          might have lost their vision for entirely preventable causes. Every eye is an eye, and no 
                          one should be deprived of their sight just because they cannot afford or access proper healthcare.
                      </p>
                  </div>
              </div>
              <div class="text-center"><button href="#" class="btn btn-primary btn-md donate">Donate</button></div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 pr-0">
          <div class="services__right">
               <div class="services__right--image" style="background-image:url(assets/services.png)"></div>
          </div>
        </div>
    </div>
  </div>
</section>
<!-- Services -->


<!-- Promotion -->
<section class="promotion bg-color-light-gray">
  <div class="container-fluid">
    <div class="row justify-content-center"> 
        <div class="aos-init aos-animate col-12  col-lg-9 col-xl-7 align-self-center" data-aos="fade-up" data-aos-duration="1000">
            <div class="promotion__center">
                <div class="topic aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000">
                    <h4 class="t-color-gray text-center text-uppercase"><span class="t-color-orange">CHALLENGE YOUR FRIENDS & FAMILY</span> <br> TO OUR QUIZ AND BATTLE IT OUT <br> TO GET ON THE LEADERBOARD!</h4>
                </div>
                <div class="promotion__center--content">
                    <div class="promotion-img">
                      <img src="assets/share.png" alt="promotion">
                    </div>
                    <div class="promotion-desc">
                        <div class="description">
                            <h4 class="t-color-white mb-3">SHARE OUR QUIZ</h4>
                            <div class="t-color-gray m-0">
                                <div class="one-stage">Think you’ve got what it takes to beat your friends on our quiz? Issue them a challenge!</div> 
                                <div class="two-stage">The<span class="t-color-white"> TOP 5 WINNERS</span> get to walk away with a <span class="t-color-white">$100 shopping spree each!</span></div> 
                            </div>
                            <div><button href="#" class="btn btn-secondary btn-sm Share">Share</button></div>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
    </div>
  </div>
</section>
<!-- Promotion -->


<!-- about us -->
<section class="about-us bg-color-gray">
  <div class="container-fluid">
    <div class="row">   
        <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-xl-7 aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000">
            <div class="about-us__left">
              <div class="topic">
                <h4 class="t-color-white text-uppercase">ABOUT FRED HOLLOWS <br> FOUNDATION AUSTRALIA</h4>
              </div>
              <p class="t-color-white description m-0">
                The Fred Hollows Foundation was founded in 1992 by eye surgeon Fred Hollows. The Foundation focuses on treating and preventing
                 blindness and other vision problems. The Foundation now works in more than 25 countries and has restored sight to over 
                 two and a half million people worldwide. This couldn’t have been achieved without the overwhelming support of
                  the Australian public. We’re as determined now as ever to end avoidable blindness. 4 out of 5 people who are 
                  blind don’t need to be – there remains so much to do. <br><br>

                  Fred’s work continues very much in the way it started: by 
                  just getting on with it. The Foundation trains doctors, nurses and healthcare workers, distributes antibiotics,
                   raises money for much needed equipment and medical facilities and performs eye operations exactly like the ones 
                   Fred did more than 30 years ago. <br><br>
                   
                   When someone’s sight is restored, it gives people the chance for a better life. 
                   They’re able to work, go to school and provide for their families. Fred believed that everyone, no matter whether 
                   they were rich or poor, had the right to affordable eye care. Our work won’t stop until the injustice of avoidable
                    blindness is completely eradicated in Australia and in the rest of the world. We believe, without a doubt, this will one day be accomplished.
              </p>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 pr-0">
          <div class="about-us__right">
               <div class="about-us__right--image" style="background-image:url(assets/about.png)"></div>
          </div>
        </div>
    </div>
  </div>
</section>
<!-- about us -->