@import '../../scss/_variables.scss';
// notification-alert-section css
.notification-alert-section {
    background-color: $bgcolor-lightblue;
    margin-top: 42px;
   &__desc {
       display: flex;
       justify-content: center;
       align-items: center;
       padding: 10px;
       text-align: center;
       height: 52px;
       p {
           color: $tcolor-gray;
           font-weight: 600;
       }
   }
}

// hero css
.hero-banner {
    .banner-wrap {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 86vh;
        position: relative;
    }
    .overlay {
        width: 100%;
        height: 100%;
        background-color: #0000004f;
        .inner-details {
            padding: 150px 0;
            .main-topic {
                margin-bottom: 32px;
                .hero-main-topic {
                    font-size: 40px;
                }
            }
        }    
    }
}

// quiz-chanllenge css
.quiz-chanllenge {
    .quiz-chanllenge-banner {
        position: relative;
        background-position: 35% center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 658px;
    }
    &__left {
        margin-right: 52px;
        background-color: #282828;
        height: 570px;
        margin-left: 125px;
        border-bottom-left-radius: 249px;
        border-bottom-right-radius: 249px;
       &__form {
            text-align: center;
            padding: 50px 50px;
            &--topic {
              font-weight: 600;
              margin-bottom: 15px;
              .top, .bottom {
                 font-size: 16px;
              }
              .middile {
                  font-size: 22px;
                  color: $tcolor-lightblue;
              }
            }
            &--whole {
                .form-group {
                  margin-bottom: 10px;
                  &.inline-form {
                    display: flex;
                    gap: 10px;
                  }
                  &.country {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-size: 13px;
                    .form-check {
                        input[type='radio'] {
                            &:after {
                                width: 15px;
                                height: 15px;
                                border-radius: 15px;
                                top: -2px;
                                left: -1px;
                                position: relative;
                                background-color: #d1d3d1;
                                content: '';
                                display: inline-block;
                                visibility: visible;
                                border: 2px solid white;
                            }
                            &:checked:after {
                                width: 15px;
                                height: 15px;
                                border-radius: 15px;
                                top: -2px;
                                left: -1px;
                                position: relative;
                                background-color: #ffa500;
                                content: '';
                                display: inline-block;
                                visibility: visible;
                                border: 2px solid white;
                            }
                        }   
                    }
                  }
                  .form-control {
                    height: calc(1.3em + .75rem + 2px);
                    font-size: 0.8rem;
                    color: #838383;
                    border-radius: 2px;
                    &:focus {
                        box-shadow: unset;
                    }
                  }
                }
                .quiz-btn {
                    padding: 8px 86px;
                    margin-top: 12px;
                }
                .last-details {
                   font-size: 10px;
                }
            }
       }
    }
    &__right {
    margin-right: 116px;
    margin-left: 50px;
    padding: 50px 0;
        .topic {
            h4 {
                font-size: 22px;
                line-height: 1.4;
                font-weight: 600;
            }
        }
        .description {
            padding: 18px 0;
        }
   }
}


// promotion css
.promotion {
    padding: 50px 0;
    &__center {  
        .topic {
            h4 {
                font-size: 22px;
                line-height: 1.4;
                font-weight: 600;
                margin-bottom: 40px;
            }
        } 
        &--content {
            display: flex;
            justify-content: center;
            .promotion-img {
                img {
                    position: relative;
                    left: 35px;
                    width: 350px;
                    height: auto;
                }
            }
            .promotion-desc {
                display: flex;
                flex-direction: column;
                justify-content: center;
                background-color: $bgcolor-orange;
                border-radius: 1000px;
                height: 335px;
                width: 325px;
                .description {
                    margin-left: 42px;
                    h4 {
                        font-size: 20px;
                        line-height: 1.4;
                        font-weight: 600;
                    }
                    .one-stage {
                        font-size: 12px;
                        font-weight: 600;
                        margin-bottom: 8px;
                    }
                    .two-stage {
                        font-size: 13px;
                        font-weight: 700;
                        margin-bottom: 18px;
                    }
                    .btn.Share {
                        margin-left: 52px;
                        padding: 5px 45px;
                    }
                }
            }
        }
   }
}


// services css
.services {
    .topic {
        h4 {
            font-size: 22px;
            line-height: 1.4;
            font-weight: 600;
        }
    }
    &__right {
      &--image {
        position: relative;
        background-position: 110px 30px;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 498px;
      }
    }
    &__left {
        padding: 15px 0;
        margin-right: 16px;
        margin-left: 110px;   
        &--list {
            display: flex;
            gap: 25px;
            margin: 30px 0 50px 0;
            .icon {
               img {
                width: 70px;
                height: auto;
               }
            }
        }
        .btn.donate {
            padding: 8px 75px;
        }
   }
}


// about-us css
.about-us {
    &__right {
      &--image {
        position: relative;
        background-position: 110px 110px;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 566px;
      }
    }
    &__left {
        padding: 50px 0;
        margin-right: 16px;
        margin-left: 110px;
        .topic {
            h4 {
                font-size: 22px;
                line-height: 1.4;
                font-weight: 600;
            }
        }
        .description {
            padding: 18px 0 0 0;
        }
   }
}


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    // hero css
    .hero-banner {
        .banner-wrap {
            background-position: 88% center;
            height: 40vh;
        }
        .overlay {
            .inner-details {
                padding: 53px 0;
                .main-topic {
                    margin-bottom: 32px;
                    .hero-main-topic {
                        font-size: 21px;
                    }
                }
            }    
        }
    }
    
    // quiz-chanllenge css
    .quiz-chanllenge {
        .quiz-chanllenge-banner {
            padding-left: 15px!important;
            background-image: unset !important;
            height: 548px;
        }
        &__left {
            margin-right: 0;
            margin-left: 0;
            background-color: transparent;
            &__form {
                padding: 50px 0;
                &--topic {
                    font-weight: 600;
                    margin-bottom: 15px;
                    .top, .bottom {
                       font-size: 16px;
                    }
                    .middile {
                        font-size: 21px;
                        color: $tcolor-lightblue;
                    }
                  }
            }
        }
        &__right {
            margin-right: 0;
            margin-left: 0;
            .topic {
                h4 {
                    font-size: 17px;
                    line-height: 1.4;
                }
            }
            .description {
                padding: 18px 0;
            }
        }
    }
    
    // services css
    .services {
        .topic {
            h4 {
                font-size: 17px;
                line-height: 1.4;
                font-weight: 600;
            }
        }
        &__right {
        &--image {
            display: none;
        }
        }
        &__left {
            padding: 15px 0 60px 0;
            margin-right: 0;
            margin-left: 0;  
       }
    }

    // promotion css
    .promotion {
        padding: 50px 0;
        &__center {  
            .topic {
                h4 {
                    font-size: 17px;
                }
            } 
            &--content {
                display: block;
                .promotion-img {
                    img {
                        position: unset;
                        width: 100%;
                        height: auto;
                    }
                }
                .promotion-desc {
                    margin-top: 50px;
                }
            }
        }
    }

    // about-us css
    .about-us {
        &__right {
        &--image {
           display: none;
        }
        }
        &__left {
            padding: 50px 0;
            margin-right: 0;
            margin-left: 0;
            .topic {
                h4 {
                    font-size: 17px;
                }
            }
            .description {
                padding: 18px 0 0 0;
            }
        }
    }

}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { 
     // hero css
    .hero-banner {
        .banner-wrap {
            background-position: 88% center;
            height: 50vh;
        }
        .overlay {
            .inner-details {
                padding: 136px 0;
                .main-topic {
                    margin-bottom: 32px;
                    .hero-main-topic {
                        font-size: 32px;
                    }
                }
            }   
        }
    }

     // quiz-chanllenge css
     .quiz-chanllenge {
        .quiz-chanllenge-banner {
            padding-left: 15px!important;
            background-image: unset !important;
            height: 548px;
        }
        &__left {
            margin-right: 0;
            margin-left: 0;
            background-color: transparent;
            &__form {
                padding: 50px 0;
                &--topic {
                    font-weight: 600;
                    margin-bottom: 15px;
                    .top, .bottom {
                       font-size: 16px;
                    }
                    .middile {
                        font-size: 21px;
                        color: $tcolor-lightblue;
                    }
                  }
            }
        }
        &__right {
            margin-right: 0;
            margin-left: 0;
            .topic {
                h4 {
                    font-size: 17px;
                    line-height: 1.4;
                }
            }
            .description {
                padding: 18px 0;
            }
        }
    }

    // services css
    .services {
        .topic {
            h4 {
                font-size: 17px;
                line-height: 1.4;
                font-weight: 600;
            }
        }
        &__right {
        &--image {
            display: none;
        }
        }
        &__left {
            padding: 15px 0 60px 0;
            margin-right: 0;
            margin-left: 0;  
       }
    }

    // promotion css
    .promotion {
        padding: 50px 0;
        &__center {  
            .topic {
                h4 {
                    font-size: 17px;
                }
            } 
            &--content {
                display: block;
                .promotion-img {
                    img {
                        position: unset;
                        width: 100%;
                        height: auto;
                    }
                }
                .promotion-desc {
                    margin-top: 50px;
                }
            }
        }
    }

    // about-us css
    .about-us {
        &__right {
        &--image {
           display: none;
        }
        }
        &__left {
            padding: 50px 0;
            margin-right: 0;
            margin-left: 0;
            .topic {
                h4 {
                    font-size: 17px;
                }
            }
            .description {
                padding: 18px 0 0 0;
            }
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { 
     // hero css
    .hero-banner {
        .banner-wrap {
            background-position: 88% center;
            height: 55vh;
        }
        .overlay {
            .inner-details {
                padding: 102px 0;
                .main-topic {
                    margin-bottom: 32px;
                    .hero-main-topic {
                        font-size: 35px;
                    }
                }
            }   
        }
    }
    
     // quiz-chanllenge css
     .quiz-chanllenge {
        .quiz-chanllenge-banner {
            padding-left: 15px!important;
            background-image: unset !important;
            height: 548px;
        }
        &__left {
            margin-right: 0;
            margin-left: 0;
            background-color: transparent;
            &__form {
                padding: 50px 0;
                &--topic {
                    font-weight: 600;
                    margin-bottom: 15px;
                    .top, .bottom {
                       font-size: 17px;
                    }
                    .middile {
                        font-size: 21px;
                        color: $tcolor-lightblue;
                    }
                  }
            }
        }
        &__right {
            margin-right: 0;
            margin-left: 0;
            .topic {
                h4 {
                    font-size: 20px;
                    line-height: 1.4;
                }
            }
            .description {
                padding: 18px 0;
            }
        }
    }

     // services css
     .services {
        .topic {
            h4 {
                font-size: 20px;
                line-height: 1.4;
                font-weight: 600;
            }
        }
        &__right {
        &--image {
            display: none;
        }
        }
        &__left {
            padding: 15px 0 60px 0;
            margin-right: 0;
            margin-left: 0;  
       }
    }

    // promotion css
    .promotion {
        padding: 50px 0;
        &__center {  
            .topic {
                h4 {
                    font-size: 20px;
                }
            } 
            &--content {
                display: block;
                .promotion-img {
                    img {
                        position: unset;
                        width: 100%;
                        height: auto;
                    }
                }
                .promotion-desc {
                    margin-top: 50px !important;
                    margin: 0 auto;
                }
            }
        }
    }

    // about-us css
    .about-us {
        &__right {
        &--image {
           display: none;
        }
        }
        &__left {
            padding: 50px 0;
            margin-right: 0;
            margin-left: 0;
            .topic {
                h4 {
                    font-size: 20px;
                }
            }
            .description {
                padding: 18px 0 0 0;
            }
        }
    }

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { 
    // hero css
    .hero-banner {
        .banner-wrap {
            background-position: 88% center;
            height: 32vh;
        }
        .overlay {
            .inner-details {
                padding: 92px 0;
                .main-topic {
                    margin-bottom: 32px;
                    .hero-main-topic {
                        font-size: 45px;
                    }
                }
            }   
        }
    }

     // quiz-chanllenge css
     .quiz-chanllenge {
        .quiz-chanllenge-banner {
            padding-left: 15px!important;
            background-image: unset !important;
            height: 548px;
        }
        &__left {
            margin-right: 0;
            margin-left: 0;
            background-color: transparent;
            &__form {
                padding: 50px 0;
                &--topic {
                    font-weight: 600;
                    margin-bottom: 15px;
                    .top, .bottom {
                       font-size: 17px;
                    }
                    .middile {
                        font-size: 21px;
                        color: $tcolor-lightblue;
                    }
                  }
            }
        }
        &__right {
            margin-right: 0;
            margin-left: 0;
            .topic {
                h4 {
                    font-size: 22px;
                    line-height: 1.4;
                }
            }
            .description {
                padding: 18px 0;
            }
        }
    }

    // services css
    .services {
        .topic {
            h4 {
                font-size: 22px;
            }
        }
        &__right {
        &--image {
            position: relative;
            background-position: 40px 30px;
            height: 521px;
        }
        }
        &__left {
            padding: 15px 0 50px 0;
            margin-right: 16px;
            margin-left: 0;   
      }
    }

    // promotion css
    .promotion {
        padding: 50px 0;
        &__center {  
            .topic {
                h4 {
                    font-size: 22px;
                    line-height: 1.4;
                    font-weight: 600;
                    margin-bottom: 40px;
                }
            } 
            &--content {
                display: flex;
                justify-content: center;
                .promotion-img {
                    img {
                        position: relative;
                        left: 35px;
                        width: 350px;
                        height: auto;
                    }
                }
            }
        }
    }

    // about-us css
    .about-us {
        &__right {
            &--image {
                position: relative;
                background-position: 14px 115px;
                background-repeat: no-repeat;
                background-size: cover;
                width: 100%;
                height: 627px;
            }
        }
        &__left {
            padding: 50px 0;
            margin-right: 16px;
            margin-left: 0;
            .topic {
                h4 {
                    font-size: 22px;
                    line-height: 1.4;
                    font-weight: 600;
                }
            }
            .description {
                padding: 18px 0 0 0;
            }
        }
    }

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }
 